<nav class="sidebar">
  <ul>
    <li class="home"><a routerLink="/"><span class="emoji">🏠</span><span class="text">Home</span></a></li>
    <li><a routerLink="/tests/broken-access-control"><span class="emoji">🔓</span><span class="text">Broken Access Control</span></a></li>
    <li><a routerLink="/tests/xss"><span class="emoji">💉</span><span class="text">Cross-Site Scripting (XSS)</span></a></li>
    <li><a routerLink="/tests/broken-auth"><span class="emoji">🔑</span><span class="text">Broken Authentication</span></a></li>
    <li><a routerLink="/tests/crypto-fail"><span class="emoji">🔐</span><span class="text">Cryptographic Failures + CSRF</span></a></li>
    <li><a routerLink="/tests/ssrf"><span class="emoji">🌐</span><span class="text">Server-Side Request Forgery (SSRF)</span></a></li>
    <li><a routerLink="/tests/path_traversal"><span class="emoji">📂</span><span class="text">Path Traversal</span></a></li>
    <li><a routerLink="/tests/rce"><span class="emoji">🖥️</span><span class="text">Remote Code Execution</span></a></li>
  </ul>
</nav>
