<div class="auth-container">
  <h2 *ngIf="!isLoggedIn">Login</h2>
  <h2 *ngIf="isLoggedIn">Welcome, {{ loggedInUser?.username }}!</h2>

  <form *ngIf="!isLoggedIn" (submit)="onLogin()" class="login-form">
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>

    <button type="submit" class="btn primary-btn">Login</button>
  </form>

  <p *ngIf="authMessage" class="error-message">{{ authMessage }}</p>

  <div *ngIf="isLoggedIn" class="dashboard">
    <div class="user-info">
      <p><strong>User ID:</strong> {{ loggedInUser?.id }}</p>
      <p><strong>Role:</strong> {{ loggedInUser?.role }}</p>
    </div>

    <div class="btn-group">
      <button (click)="logout()" class="btn logout-btn">Logout</button>
      <button *ngIf="isAdmin()" (click)="loadAdminPanel()" id="admin-panel-btn" class="btn admin-btn">Access Admin Panel</button>
    </div>

    <div *ngIf="adminPanelAccess" class="admin-panel">
      <h3>Admin Panel</h3>
      <p><strong>ALLOWED ORIGINS:</strong> {{ adminInfo?.ALLOWED_ORIGINS }}</p>
      <p><strong>DATABASE URL:</strong> {{ adminInfo?.DB_URL }}</p>
      <p><strong>DATABASE USERNAME:</strong> {{ adminInfo?.DB_USERNAME }}</p>
      <p><strong>JWT SECRET:</strong> {{ adminInfo?.JWT_SECRET }}</p>
    </div>

    <h3>{{ isAdmin() ? "Manage Users" : "Manage User" }}</h3>

    <div *ngIf="!isAdmin()" class="user-card">
      <div class="input-group">
        <label for="user-username-{{loggedInUser!.id}}">Username</label>
        <input id="user-username-{{loggedInUser!.id}}" name="user-username" [(ngModel)]="loggedInUser!.username">
      </div>

      <div class="input-group">
        <label for="user-email-{{loggedInUser!.id}}">Email</label>
        <input id="user-email-{{loggedInUser!.id}}" type="email" name="user-email" [(ngModel)]="loggedInUser!.email">
      </div>

      <div class="input-group">
        <label for="user-password-{{loggedInUser!.id}}">Password</label>
        <input id="user-password-{{loggedInUser!.id}}" type="password" name="user-password" [(ngModel)]="newPassword"
               placeholder="•••••••">
      </div>

      <div class="input-group">
        <label for="user-role-{{loggedInUser!.id}}">Role</label>
        <select id="user-role-{{loggedInUser!.id}}" name="user-role" [(ngModel)]="loggedInUser!.role"
                [disabled]="!isAdmin() || loggedInUser!.username === loggedInUser!.username">
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>

      <div class="user-actions">
        <button id="update-user-{{loggedInUser!.id}}" (click)="updateLoggedUser()" class="btn update-btn">Update</button>
      </div>
    </div>

    <div class="user-list" *ngIf="isAdmin()">
      <div class="user-card" *ngFor="let user of users">
        <div class="input-group">
          <label for="user-id-{{user.id}}">Id</label>
          <input id="user-id-{{user.id}}" name="user-id" disabled [(ngModel)]="user.id">
        </div>

        <div class="input-group">
          <label for="user-username-{{user.id}}">Username</label>
          <input id="user-username-{{user.id}}" name="user-username" [(ngModel)]="user.username">
        </div>

        <div class="input-group">
          <label for="user-password-{{user.id}}">Password</label>
          <input id="user-password-{{user.id}}" type="password" name="user-password" [(ngModel)]="user.password"
                 placeholder="•••••••">
        </div>

        <div class="input-group">
          <label for="user-email-{{user.id}}">Email</label>
          <input id="user-email-{{user.id}}" type="email" name="user-email" [(ngModel)]="user.email">
        </div>

        <div class="input-group">
          <label for="user-role-{{user.id}}">Role</label>
          <select id="user-role-{{user.id}}" name="user-role" [(ngModel)]="user.role"
                  [disabled]="user.username === loggedInUser!.username">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
          </select>
        </div>

        <div class="admin-actions">
          <button id="update-user-{{user.id}}" (click)="updateUser(user)" class="btn admin-update-btn">Update</button>
          <button id="delete-user-{{user.id}}" (click)="deleteUser(user.id)" class="btn delete-btn"
                  [disabled]="user.id === loggedInUser?.id">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
